<body class="myspace">

<form action="/logout" method="post">
	<input type="submit"value="Logout">
</form>

<form>
<div>
<p class="profile">What's your name:</p>
<%= @user.username %>
</div>

<div>
<p class="profile">What city you rep:</p>
<%= @user.city %>
</div>

<div>
<p class="profile">Last school:</p>
<%= @user.school %>
</div>

</form>

<% @blogs.each do |blog| %>

<div class="title"><%= blog.title %></div>
<div class="category"><%= blog.category %></div>
<div class="content"><%= blog.content %></div>
<div><p>User ID: <%= blog.user_id %> </p></div> 


<% end %>
